/* TO ADD DOUBLE SCROLL:

1- two div containters: left and right
2- SET OVERFLOW TO SCROLLING. OR HIDDEN IF YOU WANT.

**YOU CAN ALSO SET OVERFLOW X AND OVERFLOW Y TO UN/LIMIT DIRECTIONAL SCROLLING

TO LINK TO DIFFERENT ELEMENTS ON THE PAGE, 

 */




body {
    background-color: black;
    color: wheat;
    position: absolute;
    left: 50%;
    top: 15%;
    padding: 25px;




}

h1 {
  font-family: cursive;
  position: fixed;
  top: 5%;
  left: 25%;
  font-size: 72px;
text-shadow: 2px 2px 10px plum;

}

.start {

font-weight: bolder;
font-style: oblique;
text-shadow: 2px 2px 10px plum;
font-size: 24px;


}

.hashtag {

font-weight: bold;
font-family: monospace;
color: white;
font-size: 18px;

}

.itals {
  font-style: italic;
  text-align: right;
}

.bolditals {
  font-style: italic;
  font-weight: bold;
}

.repeat {
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  padding: 10px;
  position: relative;
  left: 50%;
  color: plum;
  text-shadow: 2px 2px 10px peru;
}

p {

font-size: 22px;
line-height: 22px;
}
