html {
box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: url(../imgs/poem.webp);
  background-repeat: no-repeat;
  background-size: 250%;
  background-color: black;
  background-clip: inherit;
    color: #FAE88C;
    padding: 25px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

/* .maintitle {
  text-transform: uppercase;
  font-size: 70px;
  line-height: 5px;
  color: #white;
  text-decoration: none;
}

.maintitle:hover {
  color: #FAE88C;
} */


h2 {
  font-size: 50px;
  color: white;
}

.portrait a {
  font-size: 30px;
  color: blue;
  text-transform: none;
  text-decoration: underline;
  line-height: 50px;
  text-shadow: 2px 2px black;
}

a {
  font-size: 70px;
  line-height: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: #FAE88C;
}

#hoverlink  a {
  color: #FAE88C;
  text-shadow: 2px 2px black;
  font-size: 80px;
  text-transform: none;
  text-decoration: underline;
  line-height: 120px;
}

#hoverlink a:hover {
  text-decoration: none;
}

#hoverlink a:visited {
  color: #FAE88C;
}

.hide1 {
  display: none;
  color: white;
}

.hover1:hover + .hide1 {
  display: block;
  font-size: 40px;
}

.hide2 {
  display: none;
  color: white;
}

.hover2:hover + .hide2 {
  display: block;
  font-size: 40px;
}

.hide3 {
  display: none;
  color: white;
}

.hover3:hover + .hide3 {
  display: block;
  font-size: 40px;
}

@media screen and (min-width: 768px) {

  .maintitle {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 5px;
  }

  h2 {
    font-size: 18px;
  }

a {
  font-size: 60px;
}

}

@media screen and (min-width:1400px) {

body {
  background-size: 100%;
}

  .maintitle {
    text-transform: uppercase;
    font-size: 50px;
    line-height: 5px;
  }

  h2 {
    font-size: 30px;
  }

a {
  font-size: 100px;
}
