body {
background-color:
padding: inherit;
padding: 20px;

-webkit-animation: bgcolor 20s infinite;
animation: bgcolor 10s infinite;
-webkit-animation-direction: alternate;
animation-direction: alternate;
font-family: monospace;
}

h1 {

font-size: 99px;
font-weight: bold;

}

h4 {

  font-size: 100px;
}

pre {

font-size: 75px;
width: 100%;

}

.padding {

width: 100%;


}

.obsess {
font-size: 88px;
line-height: 5px;
background-color: black
color: lime;

}
.mia {
background-color: lime;
}

.stop {
font-size: 200px;
font-weight: bold;

}

.hashtag {

font-weight: bold;
font-family: monospace;
color: white;
font-size: 18px;

}

.lyrics {
  font-style: italic;
}


@keyframes bgcolor {

0% {
  background-color: #F9C449
}

20% {

  background-color: #E8A49C
}

40% {
background-color: #F04393
}

60% {
  background-color: MediumPurple;
}

80% {
  background-color: #3C4CAD
}

100% {
  background-color: #240e8b
}

}
