html {
box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: wheat;
    color: black;
    font-family: monospace;
    padding: 50px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}
