html {
box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: thistle;
  color: MediumSeaGreen;
  font-family: SpaceGrotesk-Bold;
  src: url(SpaceGrotesk-Bold.ttf);
  font-size: 25px;
  padding: 20px;

}

@media screen and (min-width: 768px) {

body {
  font-size: 50px;
}

}

@media screen and (min-width:1400px) {

body {
  font-size: 75px;
}
